<script>
  // export let csr = true;
</script>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Drop & Heal</title>
  </head>

  <header>
    <div class="title">
      <div class="title-row">
        <h1>Het verlies aanvaarden</h1>
        <details>
          <summary>Overige rouwtaken</summary>
          <nav>
            <a href="#TODO">Het verlies aanvaarden</a>
            <a href="#TODO">De pijn doorvoelen</a>
            <a href="#TODO">Verder in verandering</a>
            <a href="#TODO">Emotioneel verder gaan</a>
          </nav>
        </details>
      </div>
      <progress value="25" max="100"></progress>
    </div>
  </header>

  <main>
    <h2>Rouwstappen van de dag</h2>
    <h4>2 oefening open vandaag</h4>
  </main>

  <section class="exercises">
    <article class="card">
      <img class="card-image" src="/icon/rouwtaak-1-foto.png" alt="" />
      <div class="exercise-info">
        <div class="startbutton">
          <a href="#">Start oefening</a>
        </div>
        <div class="exercise-text">
          <p>Lezen</p>
          <h2>Rouwen, hoe doe je dat?</h2>
          <div class="exercise-subinfo">
            <a class="communitydrop" href="#">
              <div class="community-images">
                <img
                  class="community-image"
                  loading="lazy"
                  src="/icon/community1.png"
                  alt=""
                />
                <img
                  class="community-image"
                  loading="lazy"
                  src="/icon/community2.png"
                  alt=""
                />
                <img
                  class="community-image"
                  loading="lazy"
                  src="/icon/community3.png"
                  alt=""
                />
              </div>
              <p>47 community drops</p></a
            >
          </div>
        </div>
      </div>
    </article>

    <article class="card">
      <img class="card-image" src="/icon/rouwtaak-1-foto.png" alt="" />
      <div class="exercise-info">
        <div class="startbutton">
          <a href="#">Start oefening</a>
        </div>
        <div class="exercise-text">
          <p>Schrijven</p>
          <h2>Ons leven samen</h2>
          <div class="exercise-subinfo">
            <a class="communitydrop" href="#">
              <div class="community-images">
                <img
                  class="community-image"
                  loading="lazy"
                  src="/icon/community1.png"
                  alt=""
                />
                <img
                  class="community-image"
                  loading="lazy"
                  src="/icon/community2.png"
                  alt=""
                />
                <img
                  class="community-image"
                  loading="lazy"
                  src="/icon/community3.png"
                  alt=""
                />
              </div>
              <p>47 community drops</p></a
            >
          </div>
        </div>
      </div>
    </article>
  </section>

  <nav>
    <div class="item">
      <svg
        width="20"
        height="21"
        viewBox="0 0 20 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.689453 11.5345L1.37491 11.2907C7.18987 9.2232 13.5535 9.30967 19.3101 11.5345V11.5345"
          stroke="#F5F5F5"
          stroke-linecap="round"></path>
        <path
          d="M0.5 6.5C0.5 3.46243 2.96243 1 6 1H14C17.0376 1 19.5 3.46243 19.5 6.5V14.5C19.5 17.5376 17.0376 20 14 20H6C2.96243 20 0.5 17.5376 0.5 14.5V6.5Z"
          fill="white"
          stroke="#F5F5F5"></path>
      </svg>

      <h5>Vandaag</h5>
    </div>
    <div class="item">
      <svg
        width="22"
        height="23"
        viewBox="0 0 22 23"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M19.4138 14.6058C19.3657 14.4327 19.4715 14.1923 19.5724 14.0193C19.6033 13.9678 19.637 13.918 19.6734 13.8702C20.537 12.587 20.9989 11.0756 21.0003 9.52887C21.0148 5.09616 17.2744 1.5 12.6493 1.5C8.61568 1.5 5.25028 4.2452 4.46182 7.88944C4.34387 8.42957 4.28423 8.98081 4.28394 9.53368C4.28394 13.9712 7.8801 17.6635 12.5051 17.6635C13.2407 17.6635 14.2311 17.4423 14.7743 17.2933C15.3176 17.1443 15.8561 16.9472 15.9955 16.8943C16.1384 16.8404 16.2899 16.8127 16.4426 16.8125C16.6093 16.8119 16.7744 16.8446 16.9282 16.9087L19.6542 17.875C19.7139 17.9003 19.7771 17.9165 19.8417 17.9231C19.9437 17.9231 20.0415 17.8826 20.1136 17.8105C20.1858 17.7383 20.2263 17.6405 20.2263 17.5385C20.2229 17.4945 20.2149 17.451 20.2022 17.4087L19.4138 14.6058Z"
          stroke="#F5F5F5"
          stroke-opacity="0.5"
          stroke-width="1.2331"
          stroke-miterlimit="10"
          stroke-linecap="round"></path>
        <path
          d="M1.88753 10.3462C1.25697 11.479 0.951934 12.7641 1.00615 14.0595C1.06037 15.3548 1.47172 16.61 2.19474 17.6861C2.3058 17.8539 2.3683 17.9837 2.34907 18.0707C2.32984 18.1577 1.77551 21.0453 1.77551 21.0453C1.76218 21.1128 1.76724 21.1827 1.79016 21.2477C1.81307 21.3126 1.85301 21.3702 1.9058 21.4145C1.97624 21.4706 2.06382 21.5008 2.15388 21.5001C2.202 21.5002 2.24964 21.4904 2.29378 21.4712L4.99619 20.4135C5.18219 20.3402 5.38967 20.3437 5.57312 20.4231C6.4837 20.7779 7.49043 21.0001 8.49765 21.0001C9.84922 21.0015 11.1771 20.645 12.3462 19.9669"
          stroke="#F5F5F5"
          stroke-opacity="0.5"
          stroke-width="1.2331"
          stroke-miterlimit="10"
          stroke-linecap="round"></path>
      </svg>
      <h5>Praten</h5>
    </div>
    <div class="item">
      <svg
        width="15"
        height="21"
        viewBox="0 0 15 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M13.4865 13.4425C13.4865 15.4743 12.8497 17.0673 11.766 18.151C10.6823 19.2346 9.08936 19.8715 7.05752 19.8715C5.02569 19.8715 3.43273 19.2346 2.34904 18.151C1.26536 17.0673 0.628522 15.4743 0.628522 13.4425C0.628522 11.3056 1.80844 8.70401 3.25929 6.34055C4.67469 4.03484 6.2798 2.06267 7.05776 1.15034C7.83556 2.06275 9.44051 4.03489 10.8558 6.34054C12.3066 8.70401 13.4865 11.3056 13.4865 13.4425Z"
          stroke="#F5F5F5"
          stroke-opacity="0.5"
          stroke-width="1.25704"
          stroke-miterlimit="10"></path>
        <path
          d="M11.0065 14.0652C11.0065 15.0018 10.6344 15.9 9.97215 16.5622C9.30989 17.2245 8.41167 17.5965 7.4751 17.5965"
          stroke="#F5F5F5"
          stroke-opacity="0.5"
          stroke-width="1.25704"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
      <h5>Drops</h5>
    </div>
    <div class="item">
      <svg
        width="21"
        height="23"
        viewBox="0 0 21 23"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M14.4628 6.11586C14.2743 8.65794 12.3472 10.7317 10.2316 10.7317C8.11598 10.7317 6.18549 8.65843 6.00038 6.11586C5.80805 3.47136 7.68324 1.5 10.2316 1.5C12.7799 1.5 14.6551 3.51944 14.4628 6.11586Z"
          stroke="#F5F5F5"
          stroke-opacity="0.5"
          stroke-width="1.23305"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M10.2305 13.8081C6.04799 13.8081 1.80297 16.1157 1.01742 20.4713C0.922716 20.9963 1.21982 21.5001 1.76932 21.5001H18.6917C19.2417 21.5001 19.5388 20.9963 19.4441 20.4713C18.6581 16.1157 14.413 13.8081 10.2305 13.8081Z"
          stroke="#F5F5F5"
          stroke-opacity="0.5"
          stroke-width="1.23305"
          stroke-miterlimit="10"></path>
      </svg>
      <h5>Profiel</h5>
    </div>
  </nav>
  </html>

  <style>
    :root {
      --w: #ffff;
      --b: #111;
      --g: #a6a6a6;
      --rt-1: #64aac7;
      --rt-2: #984a4a;
      --rt-3: #6e9158;
      --rt-4: #7c6097;

      --b-2: #b26161;
      --b-4: #9279a9;
      --progress-bg: #595959;
    }

    html,
    body {
      background-color: var(--b);
      color: white; /* Optioneel: tekst ook wit */
    }

    @font-face {
      font-family: Calvino;
      src: url(../font/calvino-trial/Calvino-Grande-Regular-trial.ttf);
      font-weight: 500;
    }

    @font-face {
      font-family: Figtree;
      src: url(../font/figtree/Figtree-Regular.ttf);
      font-weight: 200;
    }

    @font-face {
      font-family: dm-serif;
      src: url(../font/dm-serif/DMSerifDisplay-Regular.ttf);
      font-weight: 100;
    }

    * {
      font-family: Figtree;
      scroll-behavior: smooth;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      scrollbar-width: none;
    }

    *::-webkit-scrollbar {
      display: none;
    }

    h1,
    h2 {
      font-family: Calvino;
    }

    em {
      font-family: dm-serif;
    }

    /* Flexbox voor body */
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      margin: 0;
      background-color: var(--b);
    }

    header {
      background-color: var(--b);
      padding-top: 1em;
      width: 100%;
      color: var(--w);
      border-bottom: 1px solid var(--g);
      margin-bottom: 0;
    }

    .title {
      margin: 1em;
    }

    .title-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .title-row img {
      width: 15px;
    }

    .title progress {
      width: 55%;
      height: 2px;
      margin-top: 1em;
      appearance: none;
    }

    progress::-webkit-progress-bar {
      margin-top: -0.5em;
      background-color: var(--g);
      border-radius: 5px;
      border: none;
    }

    progress::-webkit-progress-value {
      background-color: var(--rt-1);
    }

    main {
      position: relative;
      background: var(--b) no-repeat center;
      background-image: url(/icon/rouwtaak-1-grad.svg),
        url(/icon/rouwtaak-1-grad.svg), url(/icon/rouwtaak-1.png);
      background-position:
        bottom -210px right 80px,
        bottom -210px left 80px,
        center;
      color: white;
      justify-content: center;
      text-align: center;
      padding-top: 15em;
      flex-grow: 1;
      overflow: hidden;
      padding-bottom: 2em;
      background-size: 800px, 800px, 200px;
    }

    main h2 {
      margin-top: 5em;
      margin-bottom: 0.3em;
    }

    main h4 {
      color: grey;
    }

    main img {
      width: 200px;
    }

    #image1 {
      position: absolute;
      top: -65%;
      right: 40%;
      width: 800px;
    }

    #image3 {
      position: absolute;
      top: -65%;
      left: 40%;
      width: 800px;
    }

    .exercises {
      background-color: #1d1d1d;
      border-radius: 20px 20px 0 0;
      width: 100%;
      margin-top: -1.1em;
      padding-bottom: 8em;
      position: relative;
      z-index: 0;
      padding-bottom: 10em;
    }

    .card {
      margin: 1.25em;
      position: relative;
      overflow: hidden;
      padding-bottom: 4em;
    }

    .card-image {
      display: flex;
      justify-content: center;
      width: -webkit-fill-available;
      border-radius: 20px 20px 0 0;
      margin-top: 1em;
      height: 250px;
    }

    .exercise-info {
      background-color: var(--b);
      border-left: #434343 solid 1px;
      border-right: #434343 solid 1px;
      border-bottom: #434343 solid 1px;
      border-radius: 0 0 20px 20px;
      padding: 0.1em;
      margin-top: -100px;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
    }

    .startbutton {
      position: absolute;
      bottom: 85%;
      left: 52%;
      background-color: var(--rt-1);
      text-decoration: none;
      border-radius: 80px;
      padding: 0.6em 1.2em;
      color: white;
      text-align: center;
    }

    .startbutton a {
      color: white;
      text-decoration: none;
    }

    .startbutton h3 {
      margin: 0;
    }

    .exercise-text {
      margin: 1em;
    }

    .exercise-text a {
      text-decoration: none;
      align-items: center;
      color: white;
      border: solid var(--g) 2px;
      border-radius: 20px;
      padding: 0.2em;
      padding-left: 1em;
      padding-right: 1em;
    }

    .exercise-subinfo {
      margin-top: 1em;
    }

    nav {
      display: flex;
      justify-content: space-between;
      background-color: var(--b);
      color: white;
      padding: 0.5em;
      width: 100%;
      border-top: 1px solid var(--g);
      position: fixed;
      bottom: 0;
      left: 0;
    }

    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1em;
      gap: 10px;
    }

    .communitydrop {
      display: flex;
      width: 14.1em;
      margin-bottom: 3em;
    }

    .community-images {
      margin-right: 0.5em;
      justify-content: center;
      align-items: center;
      display: flex;
    }

    .community-image {
      margin-right: -0.2em;
      border-radius: 50%;
    }
  </style>
